.skeleton,
.wrapper {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.skeleton__item,
.card {
    width: 300px;
    padding: 20px;
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: contain;
}

.skeletton__images {
    width: 100%;
    height: 250px;
    background: #ddd;
    border-radius: 14px;
}

.skeleton__line {
    width: 100%;
    height: 30px;
    background: #ddd;
    margin-top: 14px;
    border-radius: 6px;

}

.skeleton__line:nth-child(3) {
    width: 80%;
}

.skeleton__line:nth-child(4) {
    width: 60%;
}

.skelete__inme {
    background: linear-gradient(90deg, #ddd, #f7f7f7, #ddd);
    background-size: 200%;
    animation: skeleton 1s linear 0s infinite;
}

@keyframes skeleton {
    to {
        background-position: 200%;
    }

}

.card {
    margin-top: 30px;
    width: 300px;
    padding: 16px;
    border-radius: 14px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    background: #fff;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    overflow: hidden;
    cursor: default;
    transition: all 400ms ease;
}

.wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    overflow: hidden;

}

.card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
    border-radius: 14px;
}

h3 {
    color: #8B8E99;
    cursor: pointer;
}

.desck {
    font-size: 16px;
    color: #0009;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.buy{
    padding: 5px 20px;
    width: 50%;
    margin: auto;
    border-radius: 5px;
    border: none;
    background: blue;
    color: #fff;
}

.semore {
    width: 200px;
    display: flex;
    color: white;
    font-size: 25px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    background: blue;
    padding: 10px;
    margin-bottom: 20px;
    margin: auto;
    cursor: pointer;
    border: none    ;
    margin-bottom: 40px
}

.collection {
    display: flex;
    list-style: none;
    overflow: auto;
    padding: 10px 50px;
    gap: 20px;
    cursor: pointer;
}

.icon{
    display: none;
}
.collection::-webkit-scrollbar{
    display: none;
  }





.collection{
    display: flex;
    overflow: auto;
    list-style: none;
    padding: 10px 50px;
    gap: 20px;
}

.item{
    cursor: pointer;
    background: #ddddddea;
    border-radius: 20px;
    font-size: 18px;
    padding: 7px 10px;
    transition: 1s;
}
.item data{
    white-space: nowrap;
}
.item:hover{
    background-color: black;
    color: white;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

@media (max-width:760px) {
    .card{
        width: 100%;
    }
}




@media (max-width:500px) {
.wrapper{
    padding: 20px;
}
    .card{
        width: 100%;
    }
}